/* Base Styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background: #090909;
  font-family: monospace, monospace;
}


#video-feed {
  position: absolute;
  left: 2.5svw;
  width: 95svw;
  max-height: 100svh;
  aspect-ratio: 16 / 9;
}

.banner {
  bottom: 1svh;
  width: fit-content;
  right: 1svh;
  background: #F9F9F9;
  display: flex;
  z-index: 10;
  flex-direction: row;
}

/* Header Logos */
.header-logos {
  position: absolute;
  bottom: 1svh;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 100;
  justify-content: space-between;
  background: #F9F9F9;
  gap: 0.8svw;
  border-radius: 10px 0 0 10px;
  padding-right: 1svw;
  padding-left: 0.5svw;

}

.hhn-logo {
  height: 70px;
  width: auto;
}

.unity-logo {
  height: 55px;
  width: auto;
}

.logo {
  font-size: 32px;
  margin: 0;
  font-weight: 500;
  color: #090909;

}