<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoliosis Analysis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/antd@5.11.1/dist/reset.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/antd@5.11.1/dist/antd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@ant-design/icons@5.2.6/dist/index.umd.min.js"></script>
</head>
<body>
    <div id="app">
        {% block content %}{% endblock %}
    </div>
    
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
