flask>=2.0.0
flask-socketio>=5.0.0
opencv-python>=4.5.0
mediapipe>=0.8.0
numpy>=1.19.0
reportlab>=3.6.0
python-engineio>=4.0.0
python-socketio>=5.0.0
Werkzeug>=2.0.0
flask
flask-socketio
mediapipe
numpy
opencv-python
python-engineio
python-socketio
reportlab
werkzeug
