{% extends "base.html" %}
{% block content %}
<div class="container">

    <div class="header-logos">
        <img alt="UniTyLab Logo" class="unity-logo"
             src="{{ url_for('static', filename='img/unityLab.jpg') }}">
        <h1 class="logo">Hip Posture Analyser</h1>
        <img alt="HHN Logo" class="hhn-logo" src="{{ url_for('static', filename='img/hhn_logo.png') }}">

    </div>


    <img alt="Video feed (no camera found)" class="" id="video-feed" src="{{ url_for('video_feed') }}">
    <div class="loading-overlay">
                                <span class="loading-text">
                                    <i class="fas fa-spinner fa-spin"></i>
                                    Initializing camera...
                                </span>
    </div>
    <div class="countdown-overlay" style="display: none;">
        <span class="countdown-text">5</span>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/posture.js') }}"></script>
{% endblock %}
